.logo {
    display: flex;
    gap: 15px;
}

.title {
    font-size: 35px;
    font-weight: bolder;
    color: #FFF7EF;
}

@media only screen and (max-width: 990px) {
    .title {
        display: none;
    }
  }