form {
    display: flex;
    width: 50%;
}

form button {
    background: none;
    border: none;
}

form button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

input[type=text] {
    background-color: #FFF7EF;
}
form button:active {
    transform: scale(0.9);
    transition: 0.3s ease;
}

.search-bar {
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    font-size: 13px;
}